@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
  width: 100%;
  background: #f0fdf4;
  color: #0f172a;
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}
